!!! 5
%head
  %meta{charset: "utf-8"}/
  %title
    =title
  %meta{name: "description", content: "Jack Bracken's personal blog—amateur coding, photography and writing."}/
  %meta{name: "author", content: "Jack Bracken"}/
  %link{rel: "stylesheet", href: "/css/normalize.min.css"}/
  %link{rel: "stylesheet", href: "/css/main.css"}/


%body
  #container
    %header
      .header-container
        %a{href: "/"}
          %h1.blog-title
            Jack Bracken
        %ul.nav
          =menu_builder(href: "/",  icon: "home")
          =menu_builder(href: "/#", icon: "photo")
          =menu_builder(href: "/#", icon: "rss")
          =menu_builder(href: "/#", icon: "contact")
    #content
      =yield
    %footer