!!! 5
%head
  %meta{:charset => "utf-8"}/
  %title
    =title
  %meta{:name => "description", :content => "Jack Bracken's personal blog—amateur coding, photography and writing."}/
  %meta{:name => "author", "content" => "Jack Bracken"}/
  %link{:rel => "stylesheet", :href => "/css/normalize.min.css"}/
  %link{:rel => "stylesheet", :href => "/css/main.css"}/

%body
  %header
    .header-container
      %img.headshot{ :src => "/img/me.jpg", :alt => "Me" }
      %br
      %h1.blog-title
        Jack Bracken
      %ul.nav
        =menu_builder(:href => "/",       :src => "/img/home.png",    :title => "Home")
        =menu_builder(:href => "/photo",  :src => "/img/photo.png",   :title => "Photography")
        =menu_builder(:href => "/rss",    :src => "/img/rss.png",     :title => "RSS")
        =menu_builder(:href => "/contact",:src => "/img/contact.png", :title => "Contact")
  .content
    =yield
  %footer