!!! 5
%head
  %meta{:charset => "utf-8"}/
  %title
    =title
  %meta{:name => "description", :content => "Jack Bracken's personal blog—amateur coding, photography and writing."}/
  %meta{:name => "author", "content" => "Jack Bracken"}/
  %link{:rel => "stylesheet", :href => "/css/normalize.min.css"}/
  %link{:rel => "stylesheet", :href => "/css/main.css"}/

%body
  %header
    .header-container
      %img.headshot{ :src => "/img/me.jpg", :alt => "Me" }
      %br
      %h1.blog-title
        Jack Bracken
      %ul.nav
        %li
          %a{:href => "/"}
            %img{:src => "/img/home.png", :alt => "Home"}
            Home
        %li
          %a{:href => "/photo"}
            %img{:src => "/img/photo.png", :alt => "Photography"}
            Photos
        %li
          %a{:href => "/rss"}
            %img{:src => "/img/rss.png", :alt => "RSS feed"}
            Home
        %li
          %a{:href => "/contact"}
            %img{:src => "/img/contact.png", :alt => "Contact"}
            Contact
  .content
    =yield
  %footer