ol, ul {
    list-style: none;
    color: #222;
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-left: 36px;
}

li {
    padding-top: 6px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

html, body {
    height: 100%;
}

body {
    background-color: #F5F5F5;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#container {
    min-height: 100%;
    position: relative;
}

#content {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 42px;
}

header {
    background-color: #313131;
    width: 100%;
    height: 42px;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    height: 42px;
    width:100%;
    /*border-top: 3px solid #222;*/
    /*margin-top: -11px;*/
    background-color: #313131;
}

.header-container {
    width: 800px;
    margin-right: -400px;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.blog-title {
    position: relative;
    padding: 6px 12px;
    font-size: 32px;
    float: left;
    color: #F5F5F5;
    font-weight: 700;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav {
    padding: 0, 12px;
    float: right;
    bottom: 0;
    right: 0;
    border-bottom: 0;
    margin-bottom: 0;
    position: absolute;
}

.nav li {
    float: left;
    padding: 9px 12px 6px;
}


.nav li:hover, .active {
    background-color: #F5F5F5;
    cursor: pointer;
}

.active a {
    cursor: default;
}

i { 
    display: block;  
    background-image: url('../img/nav-spritesheet.png'); 
    background-repeat: no-repeat; 
    background-position: top left; 
    width: 28px;
    height: 26px;
}

.home {
    background-position: 0 0;
}

li:hover .home {
    background-position: 0 -26px;
}

.photo {
    background-position: 0 -52px;
}

li:hover .photo {
    background-position: 0 -78px;
}

.rss {
    background-position: 0 -104px;
}

li:hover .rss {
    background-position: 0 -130px;
}

.contact {
    background-position: 0 -156px;
}

li:hover .contact {
    background-position: 0 -182px;
}

.nav a {
    /*display: none;*/
}

article {
    padding-top: 12px;
}

a {
    color: #222;
    text-decoration: none;
}

p {
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: Georgia;
    color: #222;
    text-align: justify;
}

.date {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #4E5053;
    font-size: 12px;
    font-weight: 700;
}

hr {
    width: 95%;
    margin: 20px auto 8px auto;
    border-style: none;
    background-color: #4E5053;
    height: 3px;
}

.new-post h1 {
    text-align: center;
}

.new-post label, h1 {
    padding: 12px;
    font-size: 26px;
    color: #F5F5F5;
    font-weight: 700;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
}

.new-post input[type=text], .new-post textarea {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.new-post textarea {
    height: 400px;
    margin-bottom: 12px;
}

.center-buttons {
    text-align: center;
}

.new-post button[type=submit] {
    width: 220px;
    padding: 12px;
    color: #F5F5F5;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 12px;
    color: #222;
    font-weight: 700;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-decoration: none
}


img {
    /*opacity: 0.02;*/
}

img:hover{
    opacity: 1.00;
}
