/*    * {
        padding: 0;
        margin: 0;
    }
*/
    ol, ul {
        list-style: none;
    }

    body {
        background-color: #43464C;
        background-color: #72757B;
        background-color: #66696F;
        min-height: 100%;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
    }

    #content {
        width: 700px;
        margin: 0 auto;
    }

    header {
        border-bottom: 3px solid #4E5053;
        width: 100%;
        height: 180px;
        position: relative;
    }

    .header-container {
        width: 700px;
        margin-right: -350px;
        position: absolute;
        bottom: 0;
        right: 50%;
    }

    .blog-title {
        font-size:20px;
        line-height:1;
        float:left;
        padding-left: 12px;
    }

    .blog-title {
        font-size: 26px;
        float: left;
        color: #212E48;
        font-weight: 700;
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        text-decoration: none;
        padding-bottom: 0;
    }

    .nav {
        padding-right: 12px;
        float: right;
        font-size: 22px;
    }

    .nav ul {
        overflow:  hidden;
    }

    .nav img {
        vertical-align: middle;
    }

    .nav li {
        float: left;
        display: inline;
        padding: 3px 6px 3px 6px;
    }

    .nav li:hover {
        background-color: #4E5053;

    }

    .nav img {
        width: 28px;
        height: 26px;
        padding-right: 3px;
    }

    .nav a {
        color: #212E48;
        text-decoration: none;
        font-size: 18px;
    }

    .active {
        background-color: #212E48;
    }

    .active a {
        cursor: default;
    }

    article.post {
        padding-top: 12px;
    }

    .post h2 {
        padding-top: 12px;
        text-align: center;
    }

    .post h2 a {
        text-decoration: none;
        color: #212E48;
        font-size: 26px;
        font-weight: 600;
    }

    .post p {
        padding-top: 20px;
        font-size: 20px;
        line-height: 30px;
        font-family: Georgia;
        color: #DCD8D2;
    }

    .date {
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        color: #4E5053;
        font-size: 12px;
        font-weight: 700;
    }

    .post-separator {
        width: 95%;
        margin: 20px auto 8px auto;
        border-style: none;
        background-color: #4E5053;
        height: 3px;
    }