ol, ul {
    list-style: none;
    color: #DCD8D2;
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-left: 36px;
}

li {
    padding-top: 6px;
}

a {
    color: #212E48;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

body {
    background-color: #66696F;
    min-height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.content {
    width: 700px;
    margin: 0 auto;
}

header {
    border-bottom: 3px solid #4E5053;
    width: 100%;
    height: 60px;
    position: relative;
}

footer {
    height: 60px;
    border-top: 3px solid #4E5053;
    margin-top: -11px;
    background-color: #4E5053;
}

.header-container {
    width: 800px;
    margin-right: -400px;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.blog-title {
    position: relative;
    padding: 6px 12px;
    font-size: 32px;
    float: left;
    color: #212E48;
    font-weight: 700;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav {
    padding: 0, 12px;
    float: right;
    bottom: 0;
    right: 0;
    border-bottom: 0;
    margin-bottom: 0;
    position: absolute;
}

.nav li {
    float: left;
    padding: 9px 12px 6px;
}

.nav li:hover {
    background-color: #4E5053;

}

.active {
    background-color: #212E48;
}

.active a {
    cursor: default;
}

article.post {
    padding-top: 12px;
}

.post h2 {
    padding-top: 12px;
    text-align: center;
}

.post h2 a {
    text-decoration: none;
    color: #212E48;
    font-size: 26px;
    font-weight: 700;
}

.post p {
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    font-family: Georgia;
    color: #DCD8D2;
    text-align: justify;
}

.date {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: #4E5053;
    font-size: 12px;
    font-weight: 700;
}

.post-separator {
    width: 95%;
    margin: 20px auto 8px auto;
    border-style: none;
    background-color: #4E5053;
    height: 3px;
}

.new-post h1 {
    text-align: center;
}

.new-post label, h1 {
    padding: 12px;
    font-size: 26px;
    color: #212E48;
    font-weight: 700;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
}

.new-post input[type=text], .new-post textarea {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.new-post textarea {
    height: 400px;
    margin-bottom: 12px;
}

.center-buttons {
    text-align: center;
}

.new-post button[type=submit] {
    width: 220px;
    padding: 12px;
    color: #212E48;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 12px;
    color: #212E48;
    font-weight: 700;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-decoration: none
}